body {
  background-color: red;
}

h1 {
  font-size: 68px;
}

@media (width >= 1601px) {
  body {
    background-color: green;
  }

  h1 {
    font-size: 50px;
  }
}
@media (576px <= width <= 768px) {
  body {
    background-color: yellow;
  }
  h1 {
    font-size: 20px;
  }
}

@media (width <= 575px) {
  body {
    background-color: gray;
  }
  h1 {
    font-size: 9px;
  }
}
