@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #333;

    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.navbar-wrapper {    
    background-color: #ccc;
    padding: 16px 20px;
    border-radius: 50px;
    width: 720px;
    margin: 8px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* ul tag */
    .links {
        list-style: none;
        display: flex;
        padding: 0px;
        gap: 16px;

        /* li tag*/
        li{
            /* a tag */
            a{
                text-decoration: none;
                color: #333;
            }
        }
    }

    /* cta css */
    .cta {
        a {
            text-decoration: none;
            color: #2667c2;
            margin-right: 4px; 
        }
        button {
            background-color: #2667c2;
            color: #f1f1f1;
            border: none;
            padding: 8px 20px;
            border-radius: 50px;
        }
    }
}