@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px; padding: 0px;
    background-color: #D1D3D5;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card-wrapper {
    width: 100%;
    height: 100vh;

    position: relative;
}

.card {
    position: absolute;
    top: 50%; left: 50%;
    translate: -50% -50%;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 8px;
}
.card-header{
    background-image: url("./house1.jpg");
    background-postion: center;
    background-size: cover;
    height: 200px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    position: relative;

    .logo{
        position: absolute;
        top: 16px;
        left: 16px;

        background-color: white;
        padding: 2px 8px;
        border-radius: 3px;
    }
    .heart{
        position: absolute;
        top: 16px;
        right: 16px;

        font-size: 11px;
        background-color: white;
        padding: 4px;
        border-radius: 50px;
        color: #737272;

    }
    .location{
        position: absolute;
        bottom: 16px;
        right: 16px;

        font-size: 9px;
        background-color: white;
        padding: 4px;
        border-radius: 4px;
        color: #737272;
    }
}
.card-body, .card-footer{
    padding: 8px;
}
.card-body > .header {
    display: flex;
    justify-content: space-between
}
.card-body > .header > .house-type {
    background-color: #E9F6F6;
    color: #16A986;
    font-size: 11px;
    padding: 4px;
    border-radius: 4px;
    font-weight: 600;
}
.values {
    display: flex;
    gap: 20px;
    margin-top: 8px;
}
.values span {
    font-size: 9px;
    color: #737272;
}
.values div div {
    font-size: 11px;
}
.line-wrapper {
    background-color: #D7F6E9;
    height: 4px; width: 100%;
    border-radius: 50px;
}
.line-wrapper > .liner {
    background-color: #5CBB86;
    height: 4px; width: 32%;
    border-radius: 50px;
}

.accuracy {
    display: flex;
    justify-content: space-between;

    font-size: 9px;
    margin-bottom: 4px
}