@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
svg, span{
    display:block
}
a{

    width: fit-content;
    font-weight: bold;
    text-decoration: none;
    color: red;
    background-color: #f1f1f1;
    padding: 8px;
    box-shadow: 0px 0px 3px #ccc;
    border-radius: 8px;

    display: flex;
    align-items: center
}
a:hover {
    background-color: #ddd;
}